.taskList {
    list-style-type: none;
}

.taskCheckbox:checked +.taskName {
    text-decoration: line-through;
    opacity: 0.6;
}

h1 {
    text-align: center;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;
    gap: 1rem;
}

.listControls {
    display: flex;
    gap: 0.5rem;
}